*{
    box-sizing: border-box;
}
body 
{       
                        
    background-image: url("AncientSplendidLacewing-size_restricted.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
}
.back
{
    display: inline-block;
    opacity: .5; 
    margin-bottom: 505;
}
.back:hover
{
    opacity: 1;
}
            
.logo
{
    display: inline-block;
    width: 50%;
    height: 40%;
    position: absolute;
    left: 27%;
    top: -10%;
}
.home
{
    display: inline-block; 
    opacity: .5;
    position: absolute;
    right: -2%;
    top: -6%;
}
.home:hover
{
    opacity: 1;
}
.choose_your_hero
{
    display: inline-block; 
    position: absolute;
    right: 28%;
    top: 30%;
}
.character_photos
{
    margin-left: 420;
    margin-top: 90;
    display: inline-block;
    
}
#hero1:hover
{
    width: 23%;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
}
#hero2:hover
{
    width: 23%;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
}


